<!-- Footer -->
<footer class="card text-center">
    <div class="card-body">
        <img class="nav text-align-center" src="assets/logo/logo-PDM-small.png" alt="">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Our Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/switch-language/en">ENG/</a>
                    <a class="nav-link" href="/switch-language/gr">GR</a>
                </li>
            </ul>
        </nav>
        <ul class="nav justify-content-center">
            <li class="space">
                <p>E: pdm_project@gmail.com</p>
            </li>
            <li class="space2">
                <p>Loc: Thessaloniki/Greece</p>
            </li>
        </ul>
        <p>© Copyright 2023 PDM-Project.com, All Rights Reserved</p>
    </div>
</footer>
<!-- End Footer -->