<!-- Footer -->
<footer class="card text-center mb-3">
    <div class="card-body">
        <img class="mx-auto d-block" src="assets/logo/logo-PDM-small.png" alt="">

        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Our Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gr">GR/ENG</a>
                </li>
            </ul>
        </nav>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p>E: pdm_project@gmail.com</p>
            </li>
            <li class="nav-item">
                <p>Loc: Thessaloniki/Greece</p>
            </li>
        </ul>

        <span>© Copyright 2023 PDM-Project.com, All Rights Reserved</span>
    </div>
</footer>
<!-- End Footer -->