<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img id="image" src="assets/logo/logo-PDM-small.png"
                alt="logo of PDM Projects"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/about-us">About Us</a>
                <a class="nav-link" href="/dashboard">Our Project</a>
                <a class="nav-link" href="/contact-us">Contact</a>
                <a href="/switch-language/en">ENG/</a>
                <a href="/switch-language/gr">GR</a>
            </div>
        </div>
    </div>
</nav>