


h2{
    font-size: 64px;
    font-weight: 300;
}

#first-section img{
    height: 149px;
    width: auto;
}

sup,sub {
  line-height: 0;
}

.image-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-image {
  position: absolute;
    top: 392px;
    left: 271px;
    width: 50px;
    height: 50px;
}
