<% layout('layouts/boilerplate')%>

    <!-- <Main> -->
    <section id="dashboard" class="container">
        <div id="first-section" class="d-flex justify-content-between mb-4">
            <div>
                <h2 class="styled-heading">
                    Mentha
                </h2>
                <div class="styled-elements">
                    <div class="styled-underline"></div>
                </div>
                <img class="leaf" src="/assets/icons/leaf.png" alt="leaf icon">
            </div>
            <div class="weather">
                <div class="weather d-flex align-items-center">
                    <h3 id="temperature">Loading...</h3>
                    <img src="/assets/icons/sun.png" alt="sun icon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4 class="mb-3">From the Environment in the House</h4>
                <div class="row">
                    <div class="col-6">
                        <div class="first circle">
                            <strong></strong>
                        </div>
                        <div class="element-container">
                            <img class="element-images" src="/assets/icons/humidity.png" alt="humidity icon">
                            <span>Humidity</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="second circle">
                            <strong></strong>
                        </div>
                        <div class="element-container element-temp">
                            <img class="element-images" src="/assets/icons/Temperature.png" alt="Temperature icon">
                            <span>Tempature</span>
                        </div>
                    </div>
                </div>
                <h4 class="my-3">From the soil of the Plant</h4>
                <div class="row">
                    <div class="col-6">
                        <div class="third circle">
                            <strong></strong>
                        </div>
                        <div class="element-container">
                            <img class="element-images" src="/assets/icons/moisture.png" alt="Moisture icon">
                            <span>Moisture</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fourth circle">
                            <strong></strong>
                        </div>
                        <div class="element-container element-temp">
                            <img class="element-images" src="/assets/icons/Temperature.png" alt="Temperature icon">
                            <span>Tempature</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center image-container">
                <img src="/assets/plant-dashboard-3.png" class="background-image" alt="plant display">
                <img src="/assets/icons/flash_active.png" class="overlay-image" alt="flash icon">
            </div>
        </div>
    </section>

    <!--Custom Js-->
    <script type="text/javascript">
        var sensorData = <%- JSON.stringify(sensorData) %>;
        var espSleepMode = <%- JSON.stringify(espSleepMode) %>;
    </script>
    <script src="javascripts/dashboard.js"></script>