<% layout('layouts/boilerplate')%>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div>
                    <img id="plant" class="d-flex justify-content-end" src="assets/plant-1-smaller.png"
                        alt="beutiful plant">
                    <h1 class="hero-title">
                        Take Care of<br>Your
                        <span class="plant">Plant</span>
                        With<br>Smart Techonology
                    </h1>
                    <img id="white-circle" src="assets/icons/White-Circle.png" alt="white circle">
                    <h3 class="mt-5 pb-5 pb-md-0">
                        To the project
                        <a href="/dashboard"> <img id="arrow" src="assets/icons/right-arrow-smaller.png"
                                alt="arrow right">
                        </a>
                    </h3>
                    <div class="quote-title margin-right mt-5 d-flex justify-content-evenly bold">
                        Worried about your plants when you're away?
                    </div>
                    <div class="quote margin-right d-flex justify-content-evenly">
                        We provide continuous care, even in your absence.<br>Your plants will thrive, no matter where
                        you are.
                    </div>
                    <div class="quote mt-5"><span class="bold quote-title">
                            Struggling to keep your plants healthy?
                        </span><br>
                        We step in, ensuring optimal hydration and growth.<br>Your plants will thank you for it.
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= Team Section ======= -->
    <section class="team-section">
        <article id="about-us" class="flow">
            <h2 class="team-title">
                Our Team
            </h2>
            <p>
                Meet the team behind our plant monitoring project. Our experts bring diverse skills to ensure success.
            </p>
            <div class="team">
                <ul class="auto-grid" role="list">
                    <li>
                        <a href="https://georgexen.github.io/gXen/main.html" target="_blank" class="profile">
                            <h3 class="profile__name">George Xenofontos</h3>
                            <p>Product Owner<br>Hardware Engineering</p>
                            <img alt="Profile shot for George Xenofontos" src="assets/our team/George_Xenofontos.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://chryskoum.github.io/ChrysK/" target="_blank" class="profile">
                            <h3 class="profile__name">Chrysostomos Koumides</h3>
                            <p>Software Engineering</p>
                            <img alt="Profile shot for Chrysostomos Koumides"
                                src="assets/our team/Chrysostomos_Koumides.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section><!-- End Team Section -->

    <!-- ======= Project Explanation Section ======= -->
    <section class="project-section">
        <div class="container">

            <!-- Section Title -->
            <div class="row mb-5 mb-md-0">
                <div class="col-md-12 text-center">
                    <h2 class="section-title">View Our Project</h2>
                    <a href="/dashboard"> <img id="arrow" src="assets/icons/right-arrow.svg" alt="arrow right">
                    </a>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row align-items-center">

                <div class="col-1"></div>
                <!-- Left Column -->
                <div
                    class="left-column-project col-12 col-md-4 col-xl-3 d-flex flex-column justify-content-between moisture-text">
                    <div class="text-center mb-5 mb-lg-0">
                        <h3 class="mb-4">CONDITION PROGRESS</h3>
                        <p>This innovative solar-powered plant monitoring system utilizes the ESP32 microcontroller to
                            optimize plant growth
                            through a soil moisture sensor, a DS18B20 temperature sensor, and a DHT11 sensor for ambient
                            conditions, powered
                            by a solar panel and lithium-ion battery setup for eco-friendly operation.</p>
                    </div>
                    <svg class="trasform-line-1" width="350" height="500">
                        <line id="horizontal-line" x1="0" y1="0" x2="0" y2="0" stroke="#9f9f9f" stroke-width="10" />
                        <line id="vertical-line" x1="100" y1="0" x2="100" y2="0" stroke="#9f9f9f" stroke-width="5" />
                        <circle id="end-circle" cx="100" cy="70" r="0" fill="#9f9f9f" />
                        <circle id="end-circle-black" cx="100" cy="70" r="0" fill="black" />
                    </svg>
                    <svg class="trasform-line-2" width="350" height="500">
                        <line id="horizontal-line-2" x1="0" y1="100" x2="0" y2="100" stroke="#9f9f9f"
                            stroke-width="5" />
                        <line id="vertical-line-2" x1="100" y1="100" x2="100" y2="100" stroke="#9f9f9f"
                            stroke-width="5" />
                        <circle id="end-circle-2" cx="100" cy="30" r="0" fill="#9f9f9f" />
                        <circle id="end-circle-2-black" cx="100" cy="30" r="0" fill="black" />
                    </svg>
                    <div class="text-center">
                        <h3 class="mb-4">MOISTURE TRACKING</h3>
                        <p>Employing real-time monitoring through smart sensors, the project automates irrigation based
                            on soil moisture
                            levels, offering a sustainable solution for efficient plant care.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center moisture-text-m">
                    <div class="text-center ">
                        <h3 class="mb-4">CONDITION PROGRESS</h3>
                        <p>This innovative solar-powered plant monitoring system utilizes the ESP32 microcontroller to
                            optimize plant growth
                            through a soil moisture sensor, a DS18B20 temperature sensor, and a DHT11 sensor for ambient
                            conditions, powered
                            by a solar panel and lithium-ion battery setup for eco-friendly operation.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center moisture-text-m">
                    <div class="text-center ">
                        <h3 class="mb-4">MOISTURE TRACKING</h3>
                        <p>Employing real-time monitoring through smart sensors, the project automates irrigation based
                            on soil moisture
                            levels, offering a sustainable solution for efficient plant care.</p>
                    </div>
                </div>
                <!-- Image Column -->
                <div class="plant-project-div col-4 text-center">
                    <img src="/assets/plant-dashboard-3.png" alt="Project Image" class="img-fluid plant-project">
                </div>

                <!-- Right Column -->
                <div class="col-12 col-md-4 col-xl-3 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h3 class="mb-4">PLANT PROGRESS</h3>
                        <p>The system's LCD display provides real-time insights into the monitored parameters, enhancing
                            the
                            decision-making process for plant care. Detailed schematics and testing validate the
                            project's effectiveness
                            in promoting sustainable growth management.</p>
                        <svg class="trasform-line-3" width="400" height="500">
                            <line id="horizontal-line-3" x1="150" y1="100" x2="150" y2="100" stroke="#9f9f9f"
                                stroke-width="5" />
                            <line id="vertical-line-3" x1="20" y1="100" x2="20" y2="100" stroke="#9f9f9f"
                                stroke-width="5" />
                            <circle id="end-circle-3" cx="20" cy="30" r="0" fill="#9f9f9f" />
                            <circle id="end-circle-3-black" cx="20" cy="30" r="0" fill="black" />
                        </svg>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </section><!-- End Project Explanation Section -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="javascripts/home.js"></script>
    <script>
        gsap.registerPlugin();
        // Define the animation sequence as a function
        function startAnimation() {
            // Animate the horizontal line
            gsap.to("#horizontal-line", {
                duration: 1, // Duration in seconds
                attr: { x2: 100 },
                onComplete: drawVerticalLine
            });

            function drawVerticalLine() {
                // Animate the vertical line
                gsap.to("#vertical-line", {
                    duration: 1, // Duration in seconds
                    attr: { y2: 70 },
                    onComplete: drawEndCircle
                });
            }

            function drawEndCircle() {
                // Animate the appearance of the circle
                gsap.to("#end-circle", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 14 },
                    onComplete: drawEndCircle_black
                });
            }
            function drawEndCircle_black() {
                // Animate the appearance of the circle
                gsap.to("#end-circle-black", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 9 }
                });
            }

            gsap.to("#horizontal-line-2", {
                duration: 1, // Duration in seconds
                attr: { x2: 100 },
                onComplete: drawVerticalLine_2
            });

            function drawVerticalLine_2() {
                // Animate the vertical line
                gsap.to("#vertical-line-2", {
                    duration: 1, // Duration in seconds
                    attr: { y2: 30 },
                    onComplete: drawEndCircle_2
                });
            }

            function drawEndCircle_2() {
                // Animate the appearance of the circle
                gsap.to("#end-circle-2", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 14 },
                    onComplete: drawEndCircle_2_black
                });
            }
            function drawEndCircle_2_black() {
                // Animate the appearance of the circle
                gsap.to("#end-circle-2-black", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 9 }
                });
            }

            gsap.to("#horizontal-line-3", {
                duration: 1, // Duration in seconds
                attr: { x2: 20 },
                onComplete: drawVerticalLine_3
            });

            function drawVerticalLine_3() {
                // Animate the vertical line
                gsap.to("#vertical-line-3", {
                    duration: 1, // Duration in seconds
                    attr: { y2: 30 },
                    onComplete: drawEndCircle_3
                });
            }

            function drawEndCircle_3() {
                // Animate the appearance of the circle
                gsap.to("#end-circle-3", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 14 },
                    onComplete: drawEndCircle_3_black
                });
            }
            function drawEndCircle_3_black() {
                // Animate the appearance of the circle
                gsap.to("#end-circle-3-black", {
                    duration: 0.5, // Duration in seconds
                    attr: { r: 9 }
                });
            }
        }
        // Setup Intersection Observer to trigger the animation when the element is in view
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Element is in view, start the animation
                    startAnimation();

                    // Optional: Unobserve the element after animation has started
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.5 // Trigger when at least 50% of the element is visible
        });

        // Observe the 'MOISTURE TRACKING' element
        const elementToObserve = document.querySelector('.plant-project');
        if (elementToObserve) {
            observer.observe(elementToObserve);
        } else {
            console.error("Element not found");
        }
    </script>