<% layout('layouts/boilerplate')%>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div>
                    <img id="plant" class="d-flex justify-content-end" src="assets/plant-1-smaller.png"
                        alt="beutiful plant">
                    <h1 class="hero-title">
                        Take Care of<br>Your
                        <span class="plant">Plant</span>
                        With<br>Smart Techonology
                    </h1>
                    <img id="white-circle" src="assets/icons/White-Circle.png" alt="white circle">
                    <h3 class="mt-5">
                        To the project<img id="arrow" src="assets/icons/right-arrow-smaller.png" alt="arrow right">
                    </h3>
                    <div class="quote-title margin-right mt-5 d-flex justify-content-evenly bold">
                        Worried about your plants when you're away?
                    </div>
                    <div class="quote margin-right d-flex justify-content-evenly">
                        We provide continuous care, even in your absence.<br>Your plants will thrive, no matter where
                        you are.
                    </div>
                    <div class="quote mt-5"><span class="bold quote-title">
                            Struggling to keep your plants healthy?
                        </span><br>
                        We step in, ensuring optimal hydration and growth.<br>Your plants will thank you for it.
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= Team Section ======= -->
    <section class="team-section">
        <article id="about-us" class="flow">
            <h1 class="team-title">
                Our Team
            </h1>
            <p>
                Meet the team behind our plant monitoring project. Our experts bring diverse skills to ensure success.
            </p>
            <div class="team">
                <ul class="auto-grid" role="list">
                    <li>
                        <a href="https://georgexen.github.io/gXen/main.html" target="_blank" class="profile">
                            <h2 class="profile__name">George Xenofontos</h2>
                            <p>Product Owner</p>
                            <img alt="Profile shot for George Xenofontos" src="assets/our team/George_Xenofontos.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://chryskoum.github.io/ChrysK/" target="_blank" class="profile">
                            <h2 class="profile__name">Chrysostomos Koumides</h2>
                            <p>Scrum Master</p>
                            <img alt="Profile shot for Chrysostomos Koumides"
                                src="assets/our team/Chrysostomos_Koumides.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Stavros Ashikallis</h2>
                            <p>Software Developer</p>
                            <img alt="Profile shot for Ruby Morris"
                                src="https://source.unsplash.com/pQyIutdScOY/800x800" />
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section><!-- End Team Section -->